<style>
    .body nav.left-nav ul li ul {
	margin-top:3px;
        list-style-type: square;
    }
    .body nav.left-nav ul li ul li {
        padding-left:0;
        margin: 0 0 3px 30px;
    }
    .body nav.left-nav ul li ul li:last-child {
    margin-bottom: 3px;
	}
	.body nav.left-nav h4.clearance {
        background-color:#e93323;color:white;padding:3px 9px;
    }
</style>
<nav class="left-nav">
	{{#if page_type '===' 'default'}}
	{{else}}
		<h4><a href="/">Home</a></h4>
	{{/if}}
	<h4>Shop by style</h4>
	<ul>
		<li><a href="https://glaciertek.com/sports-cooling-vests/">Sports</a></li>
		<li><a href="https://glaciertek.com/banox/">Banox</a></li>
		<li><a href="https://glaciertek.com/flexvest/">Flex</a></li>
		<li><a href="https://glaciertek.com/original-cooling-vest/">Original</a></li>
		<li><a href="https://glaciertek.com/classic-cooling-vest/">Classic</a></li>
		<li><a href="https://glaciertek.com/concealable-cooling-vest/">Concealable</a></li>
		<li><a href="https://glaciertek.com/disposable/">Disposable</a></li>
		<li><a href="https://glaciertek.com/childrens-cooling-vest/">For Children</a></li>
		<li><a href="https://glaciertek.com/for-dogs/">For Dogs</a></li>
	</ul>
    <h4>Shop by feature</h4>
    <ul>
        <li><a href="https://glaciertek.com/flame-retardant/">Flame Retardant</a></li>
        <li><a href="https://glaciertek.com/high-visibility/">High Visibility</a></li>
        <li><a href="https://glaciertek.com/reflective/">Reflective</a></li>
        <li><a href="https://glaciertek.com/disposable/">Disposable</a></li>
        <li><a href="https://glaciertek.com/concealable/">Concealable</a></li>
	</ul>
	<h4>Shop by use</h4>
    <ul>
        <li><a href="https://glaciertek.com/recreation/">Recreation</a></li>
        <li><a href="https://glaciertek.com/health-care/">Health Care</a></li>
        <li><a href="https://glaciertek.com/mascots-characters/">Mascots/Characters</a></li>
        <li><a href="https://glaciertek.com/construction/">Construction</a></li>
        <li><a href="https://glaciertek.com/law-enforcement/">Law Enforcement</a></li>
        <li><a href="https://glaciertek.com/safety/">Safety</a></li>
        <li><a href="https://glaciertek.com/work/">Work</a></li>
	</ul>
    <h4>Accessories</h4>
    <ul>
        <li><a href="https://glaciertek.com/spare-cooling-packs/">Spare pack sets</a></li>
        <li><a href="https://glaciertek.com/glacier-tek-booster-cooling-pack-set/">Booster packs</a></li>
        <li><a href="https://glaciertek.com/extenders/">Extenders</a></li>
        <li><a href="https://glaciertek.com/cooling-vest-nailstop-set/">Nail stops</a></li>
        <li><a href="https://glaciertek.com/mesh-bag/">Mesh bags</a></li>
	</ul>
	
	
	<h4>Clearance</h4>
    <ul>

        <li><a href="/flex-vest-tan/">Tan Flex Vest</a></li>
        <li><a href="/nucool-cooling-vest-with-moisture-control-fabric-new-closeout-price/">NuCool Vest</a></li>
        <li><a href="/clearance/">More</a></li>
    </ul>

	<h4>New</h4>
    <ul>
        <li><a href="/glacier-tek-ball-cap-with-heat-absorbing-liner/">Ball Cap</a></li>
        <li><a href="/glacier-pad/">Cooling Cushion</a></li>
        <li><a href="/therapy-glacierpacks-powered-by-puretemp-flexible-phase-change-technology/">Therapy Packs</a></li>
        <li><a href="/bundles">Vest Bundles</a></li>
 
    </ul>
    
    <h4>Coming soon</h4>
    <ul>
          <li><a href="/coming-soon-glacier-tek-equine-products/">Equine products</a></li>
         
 
    </ul>
    

</nav>
