<ul>
    <li><a href="https://glaciertek.com/recreation/">Recreation</a></li>
	<li><a href="https://glaciertek.com/health-care/">Health Care</a></li>
	<li><a href="https://glaciertek.com/mascots-characters/">Mascots/Characters</a></li>
	<li><a href="https://glaciertek.com/construction/">Construction</a></li>
	<li><a href="https://glaciertek.com/law-enforcement/">Law Enforcement</a></li>
	<li><a href="https://glaciertek.com/safety/">Safety</a></li>
	<li><a href="https://glaciertek.com/work/">Work</a></li>
</ul>
