<div id="product94" class="heroCarousel-slide">
	<div class="heroCarousel-content">
		<div class="product-img">
			<a href="/gray-flex-vest">
				<img id="img1_1" class="visible" src="{{cdn 'assets/img/carousel/product/1/1-1.png'}}">
				<img id="img1_2" class="" src="{{cdn 'assets/img/carousel/product/1/1-2.png'}}">
				<img id="img1_3" class="" src="{{cdn 'assets/img/carousel/product/1/1-3.png'}}">
			</a>
			<div class="img-controls">
				<a class="carousel-compare tooltip" href="/compare/94/99/83/82/36"><span class="tooltiptext">Compare vests</span></a>
				<a class="tooltip carousel-360 img1" href=""><span class="tooltiptext">Other views</span></a>
			</div>
		</div>
		<div class="hero-description">
			<a href="/gray-flex-vest">
				<h1 class="heroCarousel-title">Gray Flex Vest</h1>
				<p class="heroCarousel-description">
		This innovative new cooling vest is ideal for casual wear and covers more surface area with a soft, high-quality fabric that stretches to comfortably fit the body. This vest includes a 12-piece GlacierPack set that’s ideal for office, home or recreational use and features a hermetically sealed barrier for easy cleaning and sterilization.
				</p>
				<span class="heroCarousel-action button button--primary button--large">Shop Now</span>
			</a>
		</div>
	</div>
</div>

<div id="product99" class="heroCarousel-slide">
	<div class="heroCarousel-content">
		<div class="product-img">
			<a href="/original-cool-vest-high-visibility-non-reflective">
				<img id="img2_1" class="visible" src="{{cdn 'assets/img/carousel/product/2/2-1.png'}}">
				<img id="img2_2" class="" src="{{cdn 'assets/img/carousel/product/2/2-2.png'}}">
				<img id="img2_3" class="" src="{{cdn 'assets/img/carousel/product/2/2-3.png'}}">
			</a>
			<div class="img-controls">
				<a class="carousel-compare tooltip" href="/compare/94/99/83/82/36"><span class="tooltiptext">Compare vests</span></a>
				<a class="tooltip carousel-360 img2" href=""><span class="tooltiptext">Other views</span></a>
			</div>
		</div>
		<div class="hero-description">
			<a href="/original-cool-vest-high-visibility-non-reflective">
				<h1 class="heroCarousel-title">Original Cool Vest - High Visibility</h1>
				<p class="heroCarousel-description">
		If you’re on the clock early in the day or at night, the High Visibility Cool Vest lets people know you’re there while simultaneously cooling you down. This vest includes a GlacierPack Comfort set.
				</p>
				<span class="heroCarousel-action button button--primary button--large">Shop Now</span>
			</a>
		</div>
	</div>
</div>

<div id="product83" class="heroCarousel-slide">
	<div class="heroCarousel-content">
		<div class="product-img">
			<a href="/concealable-cool-vest-with-protect-pack/">
				<img id="img3_1" class="visible" src="{{cdn 'assets/img/carousel/product/3/3-1.png'}}">
				<img id="img3_2" class="" src="{{cdn 'assets/img/carousel/product/3/3-2.png'}}">
			</a>
			<div class="img-controls">
				<a class="carousel-compare tooltip" href="/compare/94/99/83/82/36"><span class="tooltiptext">Compare vests</span></a>
				<a class="tooltip carousel-360 img3" href=""><span class="tooltiptext">Other views</span></a>
			</div>
		</div>
		<div class="hero-description">
			<a href="/concealable-cool-vest-with-protect-pack/">
				<h1 class="heroCarousel-title">Concealable Cool Vest </h1>
				<p class="heroCarousel-description">
		The Concealable Cool Vest fits under most pieces of clothing, providing more discretion and mobility while maintaining a cool and comfortable temperature. Includes a durable GlacierPack Protect set that is made from a stretchable specialty film.
				</p>
				<span class="heroCarousel-action button button--primary button--large">Shop Now</span>
			</a>
		</div>
	</div>
</div>

<div id="product82" class="heroCarousel-slide">
	<div class="heroCarousel-content">
		<div class="product-img">
			<a href="/original-sports-cooling-vest-blue-adult/">
				<img id="img4_1" class="visible" src="{{cdn 'assets/img/carousel/product/4/4-1.png'}}">
				<img id="img4_2" class="" src="{{cdn 'assets/img/carousel/product/4/4-2.png'}}">
				<img id="img4_3" class="" src="{{cdn 'assets/img/carousel/product/4/4-3.png'}}">
			</a>
			<div class="img-controls">
				<a class="carousel-compare tooltip" href="/compare/94/99/83/82/36"><span class="tooltiptext">Compare vests</span></a>
				<a class="tooltip carousel-360 img4" href=""><span class="tooltiptext">Other views</span></a>
			</div>
		</div>
		<div class="hero-description">
			<a href="/original-sports-cooling-vest-blue-adult/">
				<h1 class="heroCarousel-title">Sports Cool Vest </h1>
				<p class="heroCarousel-description">
		Whether you’re racing against others or simply yourself, there’s always a finish line to cross. And by staying cool, you can ensure that path is more comfortable. The Sports Cool Vest helps regulate body temperature and fits tight thanks to a heavy duty front zipper, dual side straps and over-the-shoulder adjustability. The GlacierPack Comfort set that is included with the vest features a hermetically sealed outer barrier film that is easily cleaned.
				</p>
				<span class="heroCarousel-action button button--primary button--large">Shop Now</span>
			</a>
		</div>
	</div>
</div>

<div id="product36" class="heroCarousel-slide">
	<div class="heroCarousel-content">
		<div class="product-img">
			<a href="/childrens-yellow-cooling-vest/">
				<img id="img5_1" class="visible" src="{{cdn 'assets/img/carousel/product/5/5-1.png'}}">
				<img id="img5_2" class="" src="{{cdn 'assets/img/carousel/product/5/5-2.png'}}">
			</a>
			<div class="img-controls">
				<a class="carousel-compare tooltip" href="/compare/94/99/83/82/36"><span class="tooltiptext">Compare vests</span></a>
				<a class="tooltip carousel-360 img5" href=""><span class="tooltiptext">Other views</span></a>
			</div>
		</div>
		<div class="hero-description">
			<a href="/childrens-yellow-cooling-vest/">
				<h1 class="heroCarousel-title">Children's Cool Vest </h1>
				<p class="heroCarousel-description">
		A cooling vest made especially for children, the Children’s Cool Vest is a durable and comfortable garment that will help safeguard your child against heat stress. The Children’s GlacierPacks that are included with the vest are the innovation behind keeping your kids cool and comfortable.
				</p>
				<span class="heroCarousel-action button button--primary button--large">Shop Now</span>
			</a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
	$('.carousel-360.img1').click(function(e){
		e.preventDefault();
		if($('#img1_1').hasClass('visible')) {
			$('#img1_2').addClass('visible');
			$('#img1_1,#img1_3').removeClass('visible');
		}
		else if($('#img1_2').hasClass('visible')) {
			$('#img1_3').addClass('visible');
			$('#img1_2,#img1_1').removeClass('visible');
		}
		else if($('#img1_3').hasClass('visible')) {
			$('#img1_1').addClass('visible');
			$('#img1_2,#img1_3').removeClass('visible');
		}
	});
	$('.carousel-360.img2').click(function(e){
		e.preventDefault();
		if($('#img2_1').hasClass('visible')) {
			$('#img2_2').addClass('visible');
			$('#img2_1,#img2_3').removeClass('visible');
		}
		else if($('#img2_2').hasClass('visible')) {
			$('#img2_3').addClass('visible');
			$('#img2_2,#img2_1').removeClass('visible');
		}
		else if($('#img2_3').hasClass('visible')) {
			$('#img2_1').addClass('visible');
			$('#img2_2,#img2_3').removeClass('visible');
		}
	});
	$('.carousel-360.img3').click(function(e){
		e.preventDefault();
		if($('#img3_1').hasClass('visible')) {
			$('#img3_2').addClass('visible');
			$('#img3_1').removeClass('visible');
		}
		else if($('#img3_2').hasClass('visible')) {
			$('#img3_1').addClass('visible');
			$('#img3_2').removeClass('visible');
		}
	});
	$('.carousel-360.img4').click(function(e){
		e.preventDefault();
		if($('#img4_1').hasClass('visible')) {
			$('#img4_2').addClass('visible');
			$('#img4_1,#img4_3').removeClass('visible');
		}
		else if($('#img4_2').hasClass('visible')) {
			$('#img4_3').addClass('visible');
			$('#img4_2,#img4_1').removeClass('visible');
		}
		else if($('#img4_3').hasClass('visible')) {
			$('#img4_1').addClass('visible');
			$('#img4_2,#img4_3').removeClass('visible');
		}
	});
	$('.carousel-360.img5').click(function(e){
		e.preventDefault();
		if($('#img5_1').hasClass('visible')) {
			$('#img5_2').addClass('visible');
			$('#img5_1').removeClass('visible');
		}
		else if($('#img5_2').hasClass('visible')) {
			$('#img5_1').addClass('visible');
			$('#img5_2').removeClass('visible');
		}
	});
</script>
</div>
