@font-face {
    font-family: "Roboto Sans";
    font-style: normal;
    src: url("../fonts/Roboto-Regular.WOFF") format("woff"),
         url("../fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    src: url("../fonts/RobotoSlab-Regular.WOFF") format("woff"),
         url("../fonts/RobotoSlab-Regular.ttf") format("ttf");
}
